header, body, figure, figcaption {display: block}

body {color: #7a4934; background-image: url("img/backdrop.gif");
    width: 100%; margin: 0px; background-position: center; font-weight: normal}

#container {width: 900px; margin: 40px auto; text-align: center}

header {background-image: url("img/title.gif");
    height: 130px; background-repeat: no-repeat;
    background-position: center; margin: 0px auto 60px auto}

h1 {text-indent: -9999px; height: 130px}

p {font-size: 110%}

section {float: left; width: 100%;
    margin: 10px auto 10px auto}

figure {float: left; width: 266px; height: 195px; margin: 10px 10px 20px 10px; padding: 5px;
    border: 2px solid #eeeeee; background-color: #eeeeee}

figure p {font-size: 100%; margin: 5px; text-align: left}

figure img {width: 256px; max-height: 170px}

figcaption img {width: 16px; float: left; margin: 2px}

.icon {background-image: url("img/icon.png")}